# Ignore private keys!
private_key

#  Local .terraform directories
**/.terraform/*

# Local .vagrant directories
**/.vagrant/*

# .tfstate files
*.tfstate
*.tfstate.*
*.log*

# .tfvars files
*.tfvars

# ignore the obnoxious .DS_Store file
.DS_Store
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/action_provision
files/nginx.crt
files/nginx.key
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
